<aside class="admin-sidebar">
    <ul>
        <li><a href="{{ path('admin_dashboard') }}">📊 Панель состояния</a></li>
        <li><a href="{{ path('admin_user_index') }}">👤 Пользователи</a></li>
        <li>
            <a href="#">📦 Каталог</a>
            <ul>
                <li><a href="#">Категории</a></li>
                <li><a href="#">Товары</a></li>
                <li><a href="#">Атрибуты</a></li>
            </ul>
        </li>
        <li><a href="#">⚙️ Настройки</a></li>
    </ul>
</aside>
