<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Admin{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('admin/styles/admin.css') }}">
        {% endblock %}
    </head>
    <body class="bg-gray-100 text-gray-800">
        {% include '@Admin/layout/_header.html.twig' %}

        <div class="flex">
            {% include '@Admin/layout/_sidebar.html.twig' %}
            <main class="flex-1 p-6">
                {% block body %}{% endblock %}
            </main>
        </div>

        {% include '@Admin/layout/_footer.html.twig' %}

        {% block scripts %}{% endblock %}
    </body>
</html>
