{# templates/admin/layout/base_login.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    {{ encore_entry_link_tags('admin-login') }}
    {{ encore_entry_script_tags('admin-login') }}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
