<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Admin Panel{% endblock %} - CMS</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('admin/styles/admin.css') }}">
        {% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body class="h-full bg-gray-50 dark:bg-gray-900">
        <div class="min-h-full">
            {% include '@Admin/layout/_header.html.twig' %}
            <div class="flex h-screen p-4"> 
                {% include '@Admin/layout/_sidebar.html.twig' %}
                <div class="flex-1 flex flex-col overflow-hidden rounded-md">
                    <main class="flex-1 flex flex-col overflow-hidden overflow-y-auto bg-gray-50 dark:bg-gray-800">
                        {% include '@Admin/components/_breadcrumbs.html.twig' with {
                            items: [
                                {label: 'Dashboard', route: 'admin_dashboard'},
                                {label: 'Users', route: 'admin_user_index'},
                                {label: 'Edit User'}
                            ]
                        } %}
                        {% block body %}{% endblock %}
                    </main>
                </div>
            </div>
            {% include '@Admin/layout/_footer.html.twig' %}
        </div>
        {% block scripts %}
        <script>
            function toggleDarkMode() {
                document.documentElement.classList.toggle('dark');
                localStorage.setItem('darkMode', document.documentElement.classList.contains('dark'));
            }

            if (localStorage.getItem('darkMode') === 'true') {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
        </script>
        {% endblock %}
    </body>
</html>
