<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Admin{% endblock %}</title>
        {{ encore_entry_link_tags('admin') }}
    </head>
    <body class="admin-layout">
        <div class="layout-wrapper">
            {% include '@Admin/layout/_header.html.twig' %}

            <div class="admin-body-wrapper">
                {% include '@Admin/layout/_sidebar.html.twig' %}

                <main class="admin-main-content">
                    {% block body %}{% endblock %}
                </main>
            </div>

            {% include '@Admin/layout/_footer.html.twig' %}
        </div>
    </body>
</html>
